@charset "UTF-8";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'outfit',sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #212121;
    flex-direction: column;
                                                                                                                                                                                                                                                                                                                        
h1{ 
    color: white;
}
.trilho{
    width: 350px;
    height: 150px;
    background-color: #4d4d4d;
    border-radius: 150px;
    position: relative;
    cursor: pointer;
}

.trilho .indicador{
    width: 150px;
    height: 150px;
    background-color: black;
    border-radius: 50%;
    transform: scale(.9);
    position: absolute;
    left: 0;
    transition: .5s;
    
}

.trilho.dark{
    background-color: #c3c3c3;
}

.trilho.dark .indicador{
   left: 200px;
   background-color: white;
}

body.dark{
    background-color: #e4e4e4;
}
body.dark h1{
    color: black;
}