
@charset "UTF-8";


body{
    background-image: linear-gradient(to right,#9E5B20,#d1d34bea);
}
main{
    background-color: #E19416;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    color: coral;
    background-color:#63D471 ;
}
h2{
    color: blue;
    background-color: darkolivegreen;
}
p{
    color: white;
    text-align:justify;
}
