@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link{
    width: 100px;
    height: 100px;
    box-shadow:0 0 8px #0000005a;
    margin: 0 30px;
    display: flex;
    align-items: center;
    justify-content:center;
    border-radius: 30px;
    font-size: 30px;
    position: relative;
    overflow: hidden;
}
.link:hover i{
    color: white;
    transform: scale(1.2);
}
.link i{
    transition: .2s;
}

.link-1{
    color: orangered;
}

.link-2{
    color: #00aaff;
}
.link-3{
    color: #ff0088;
}
.link-1::before{
    background-color: orangered;
}
.link-2::before{
    background-color: #00aaff;
}
.link-3::before{
    background-color: #ff0088;
}

.link::before{
    content: "";
    width: 100px;
    height: 100px;
    border-radius: 30px;
    position:absolute;
    left: -100px;
    top: 100%;
  
}

.link:hover::before{
    animation: desloca .5s;
    left: 0;
    top: 0;
}
@keyframes desloca{
    0%{
        left: -100px;
        top: 100%;
    }
    50%{
        left: 15%;
        top: -25%;
    }
    100%{
        left: 0;
        top: 0;
    }
    
}